<section class="login flex justify-center pt-24">
    <div class="w-full max-w-xs">
        <form action="/login" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div>
                <img class="mx-auto h-12 w-auto bt-4" src="img/login_logo.png" alt="logo">
                <h2 class=" bt-4 text-center text-2xl font-bold text-gray-500">Sign in</h2>
                <p class="mt-2 text-center text-sm text-gray-600">
                    Or
                    <a href="/register" class="font-bold"> Create an account </a>
                </p>
            </div>

            <div class="mb-4 mt-4">
                <!-- <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Email
                </label> -->
                <input name="email"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="username" type="email" placeholder="Email address">
            </div>
            <div class="mb-6">
                <!-- <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Password
                </label> -->
                <input name="password"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                    id="password" type="password" placeholder="Password">
            </div>
            <div class="flex items-center justify-between">
                <button
                    class="btn-primary w-full rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                    Log In
                </button>
            </div>
            <a class="flex justify-center inline-block align-baseline font-bold text-sm mt-4" href="/register">
                Don't have account?
            </a>
        </form>
        <p class="text-center text-gray-500 text-xs">
            &copy;2022 Show-Lim. All rights reserved.
        </p>
    </div>
</section>